# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear
*.class

# Saves, screenshots, txt
*.txt
/screenshots/

# Crash logs
hs_err_pid*

# Trash files
.DS_Store

# VIM files
*~
*.swp
*.swo
